# Lab 3

## 3.1 Dictionaries

In [4]:
# Key and Value pairs
# Disctionaries have no Orders
D_num = {0: ["Jake", "Joe"]}
D_num[0]

['Jake', 'Joe']

In [5]:
D_str = {"name": ["Jake", "Joe"]} 
D_str["name"]

['Jake', 'Joe']

In [7]:
D_tup = {("Jake", 1): [95, 91, 80]}
D_tup[("Jake", 1)]

[95, 91, 80]

In [9]:
# Dictionaries as loop target
D = {"Jake": [90, 91], "Joe": [100, 100], "Charlie": [99, 100]}

for name in D:
    print(name)

Jake
Joe
Charlie

In [11]:
D.keys()

dict_keys(['Jake', 'Joe', 'Charlie'])

In [13]:
D.values()

dict_values([[90, 91], [100, 100], [99, 100]])

In [14]:
for name in D.keys():
    print(name)

Jake
Joe
Charlie

In [15]:
# Add element to exsiting dictionary
D = {"Jake": [90, 91], "Joe": [100, 100], "Charlie": [99, 100]}

D

{'Jake': [90, 91], 'Joe': [100, 100], 'Charlie': [99, 100]}

In [17]:
D["Ellen"] = [75, 80]

D

{'Jake': [90, 91], 'Joe': [100, 100], 'Charlie': [99, 100], 'Ellen': [75, 80]}

## 3.2 When to Use Dictionaries

In [18]:
# Why Dictionaires?
## Lets us store and access info through something other than a number (index.)

In [22]:
# With a dictionary
Addresses = {"Jake": "67 Gleneden Ave", \
            "Joe": "10501 Streamview Ct."}

Addresses ["Joe"]

'10501 Streamview Ct.'

In [23]:
# With a list
Addresses = [["Jake", "67 Gleneden Ave"], \
            ["Joe", "10501 Streamview Ct."]]

for address in Addresses:
    name = address[0]
    
    if name == "Joe":
        joe_address = address[1]

joe_address

'10501 Streamview Ct.'

## 3.3 Tuples

In [ ]:
# Tuples are essentially immutable lists
## They can be sliced and indexed and used in for loops, but you cannot sort them
## Since they are immutable, they can be keys in a dictionary, as we already saw

In [24]:
a = (1, 2)
type(a)

tuple

In [25]:
# Concatenation
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [27]:
# Signle number
(4, )

(4,)

In [28]:
# Indexing works
a = (1, 2, 3, 4)
a[1:3]

(2, 3)

In [29]:
# Immutable
t = (1, 2, 3, 4)
t[1] = 0

TypeError: 'tuple' object does not support item assignment

In [30]:
# Tuples can be object in for loop
a = (1, 2, 3, 4)
total = 0

for i in a:
    total += i

total

10

## 3.4 String Methods

In [ ]:
# Python Objects

## Python objects are dynamically typed - when we create a variable we don't have to 
## say what type of object it will store

## Python objects are either mutable (can be changed) or immutable (cannot be changed)

## Python objects are strongly typed - there are built in type specific methods that 
## help us manipulate objects

In [32]:
# Replace method
name = "Jaqe"
correct_name = name.replace("q", "k")

name

'Jaqe'

In [33]:
correct_name

'Jake'

In [37]:
# Find method
## Finds the first occurance.
sentence = "Hello World."

sentence.find('e')

1

In [35]:
sentence.find(' ')

5

In [38]:
sentence.find('z')

-1

In [39]:
# Split method
line = "I went to the store"
words = line.split(' ')

words

['I', 'went', 'to', 'the', 'store']

In [43]:
# Strip method
## Deletes input from both sides of string
line = '.I went to. the store.'
new_line = line.strip(".")

new_line

'I went to. the store'

In [47]:
line = '  .  I went to the store. '
new_line = line.strip(" .")

new_line

'I went to the store'

In [48]:
# We can stack methods
line = '     I want to the store.'
new_line = line.strip(" .").split(" ")

new_line

['I', 'want', 'to', 'the', 'store']

## 3.5 List Methods

In [49]:
# Append Method
## Add element to the end of a list

L = [1, 2, 3]
L += [4]
L

[1, 2, 3, 4]

In [50]:
L = [1, 2, 3]
L.append(4)
L

[1, 2, 3, 4]

In [51]:
# Sort Method
## Srots the elements in the list
L = [4, 5, 1]
L.sort()
L

[1, 4, 5]

In [52]:
L = [4, 5, 1]
sorted_L = sorted(L)
sorted_L

[1, 4, 5]

In [53]:
# Index method
## Returns the index of first occurrence of the inputted element
L = [4, 5, 1]
index_five = L.index(5)
index_five

1

In [54]:
index_ten = L.index(10)

ValueError: 10 is not in list

In [56]:
# How do I find all indecies of a given element?

L = [4, 5, 1, 5, 12, 3, 4, 1, 5, 7, 8]
find_fives = []

for i in range(len(L)):
    
    if L[i] == 5:
        find_fives.append(i)

find_fives

[1, 3, 8]

In [57]:
find_fives = [i for i in range(len(L)) if L[i] == 5]
find_fives

[1, 3, 8]

In [62]:
# We cannot stack list methods
## Because the method does not return anything
L.sort().index(5)

AttributeError: 'NoneType' object has no attribute 'index'

In [63]:
sorted(L).index(5)

5

## 3.6 Dictionary Methods

In [64]:
# Keys method
## Returns the keys as an iterable

D = {"Jake": 1, "Joe": 2}
D.keys()

dict_keys(['Jake', 'Joe'])

In [65]:
list(D.keys())

['Jake', 'Joe']

In [66]:
# Values method
## Returns the values as an iterable

D.values()

dict_values([1, 2])

In [67]:
list(D.values())

[1, 2]

In [68]:
# We can put values on the obejct in for loop:
D = {"Jake": 1, "Joe": 2}

for num in D.values():
    print(num)

1
2

In [69]:
# We can check if a key or value exists as follows
D = {"Jake": "Charlie", "Joe": "Griffey"}
D

{'Jake': 'Charlie', 'Joe': 'Griffey'}

In [70]:
"Jake" in D.keys()

True

In [71]:
"Clemy" in D.values()

False

In [73]:
# Get method
## Another way to access avalue through a key
D = {"Jake": 1, "Joe": 2}
D.get("Jake")

1

In [74]:
print(D.get("Steve"))

None