# Jupyter Notebook Essential Commands

Commands for when in command mode:

- **Enter**: Enter edit mode
- **Shift-Enter**: Run cell, select below
- **Alt-Enter**: Run cell, insert below
- **Ctrl-Enter**: Run cell
- **a**: Insert cell above
- **b**: Insert cell below
- **d,d**: Delete cell
- **m**: Convert to markdown cell
- **y**: Convert to code cell

Commands when in edit mode:

- **Esc**: Enter command mode
- **Shift-Enter**: Run cell, select below
- **Alt-Enter**: Run cell, insert below
- **Ctrl-Enter**: Run cell
- **Tab**: auto-complete variable names

# Python Objects

Any data that we store or keep track of will take the form of a python object.  Different objects are used to store different types of a data; a number is stored differently than a word which is stored differently than a list of numbers.  We will use the following built in objects:

- **Numbers**: integers, real numbers, etc...
    - **Boolean** : True or False
- **Strings**: arbitary sequence of characters
- **Lists**: ordered collection of objects
- Dictionaries: store objects by key
- Tuples: list that cannot be changed
- Files: stores contents of file (.csv, .txt, .xls)


Python objects are *dynamically typed*: you do not have to declare the type of variable upon creation.

Python objects are *strongly typed*: there are type specific operations.

Objects that are *mutable* can be changed once created.  *Immutable* objects cannot be changed once created.

## Variables and Basic Expressions

*Variables* are simply names that are used to keep track of information (stored as various objects) in your program.

- Variables are created when they are first assigned a value.
- Variables must be assigned before they can be used.
- Variables refer to objects.

## Numbers (immutable)

With regards to number objects, we will almost exclusively work with integers and floating point numbers (real numbers). Python stores these two types differently and for certain arithmetic operations it is important to know the type you are working with.


Let's create our first variables!

In [1]:
x = 5
y = 6.6

y
x

5

Note that we can see the variable's value in the output by simply typing its names. However, we only see the last variable that we typed (in this case that is x). To see all of the variable we can wrap the variable in a **print** statement as follows.

In [2]:
print(y)
x

6.6

5

Or we can always run the following two lines of code at the top of our notebook (recommended).

In [2]:
#This bit of code allows me to output more than one variable value without using a print statement.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [82]:
#Now we don't need the print statement
y
x

NameError: name 'y' is not defined

We can use the **type** command to check what type of python object a particular variable is.

In [14]:
type(x)
type(y)

int

float

We can convert variables to other types. To cast a variable as an integer use **int** and for a float use **float**.  Note that we can always store the result of any operation in another variable

In [16]:
a = int(y)
b = float(x)

a,b
y,x

(6, 5.0)

(6.6, 5)

### Arithmetic Operations

In [6]:
#Addition
x+y

11.6

In [10]:
#Subtraction (We already see some weird stuff happening with this simple operation)
y-x

1.5999999999999996

In [11]:
#Division
y/x

1.3199999999999998

In [17]:
#Multiplication
y*x

33.0

In [18]:
#Exponentiation
x**2

25

In [21]:
#Modulus operator - outputs the remainder 
7%2

1

In [22]:
#absolute value 
abs(-4)

4

In [62]:
#Taking a square root.  Python has many nice built in packages. We will have an entire lecture on important python packages
import math
math.sqrt(36)

6.0

Lets say we have a variable count that we want to increment by one. We could do the following:

In [64]:
count=0
count= count+1
count

1

The **"+="** operator is shorthand for this operation that is very useful.

In [66]:
count=0
count+=1
count

1

### Boolean Objects

The Boolean type can be viewed as numeric in nature because its values (True or False) are just customized versions of the integers 1 and 0 that print themselves differently.  The True and False of the boolean class behave in the same way as 1 and 0, they just make code more readable.

In [8]:
boolean_var = True

boolean_var

type(boolean_var)

bool

In [26]:
# A True can be treated exactly as a 1
boolean_var*5

5

Lets ask if 5 is equal to 'a'.  We can do this with the double equals signs '==', more on this later.

In [27]:
#Notice that we get a False instead of a 0.
5=='a'

False

In [2]:
#Lets see if True is equal to 1
True==1

True

**Naming variables**: It is a very good practice to give your variable names descriptive name so you and others reading your code can remember what they represent. The convention for creating the variable name is to use "_" to separate words.  For example, a variable that stores my age could be jake_age.

## Strings (immutable)

The Python string is an ordered collection of characters used to store and represent text-based information.  From a functional perspective, strings can be used to represent just about anything that can be encoded as text: symbols, words, numbers, contents of files, etc...

Strings are created by placing quotation marks (single or double) around the given sequence of characters. Strings are immutable sequences, meaning that the characters they contain have a left to right positional order that cannot be changed in place.  They support operations such as: 

- concatenation (combining strings)
- slicing (extracting sections)
- indexing (fetching by offset)
- the list goes on...

Python also provides a set of string methods that implement commmon string-specific tasks, as well as modules for more advanced text processing tasks such as pattern matching. Let's create some strings!

In [4]:
#We generally use single quotes to create a string
dog_name = 'Little Charlie'

dog_name

'Little Charlie'

In [5]:
#We can check the type as follows
type(dog_name)

str

We can see the number of characters in the string using the built in **len** function. Note that the space will count as a character.

In [6]:
#Find the number of characters in a string
len(dog_name)

14

Using double quotes to create the string allows us to embed things like an apostrophe inside the string.

In [9]:
#One way to embed an apostrophe 
sentence_w_apostrophe = "Jake's favorite ice cream is mint chip."

sentence_w_apostrophe

"Jake's favorite ice cream is mint chip."

In [10]:
#Another way is to use the backslash with single quotes
other_sentence_w_apostrophe = 'Jake\'s favorite cookie is chocolate chip.'

other_sentence_w_apostrophe

"Jake's favorite cookie is chocolate chip."

The backslash additional string formatting capabilities. Consider the following commands:

- **\t** - inserts tab in string
- **\n** -  inserts new line in string

These will probably be the ones you use most, but there are others.

In [15]:
sentence_w_newline = 'Roses are red, \nviolets are blue.'

#Notice that when we just output the variable, the new line character appears
sentence_w_newline

'Roses are red, \nviolets are blue.'

In [16]:
#printing the variable will formate the string
print(sentence_w_newline)

Roses are red,
violets are blue.

In [1]:
#We can also create a string with multiple lines using 3 double quotes as follows
sentence_w_triple_quotes =  """ Roses are red,
violets are blue.    """

#Note that the new line character is added for us.
sentence_w_triple_quotes

' Roses are red,\nviolets are blue.    '

We can check if a character is in a string using **in**. There is also a **not in**.  The result return a boolean.

In [2]:
#Use of in
name  = 'Charlie'

"C" in name

True

In [4]:
#Another use

"Charl" in name

True

In [5]:
#Use of not in

'5' not in name

True

These string formatting techniques will be extremely important when we start reading and writing to files and more generally dealing with data.

## Slicing and Indexing

Each string can be viewed as a left to right ordering of a sequence of characters.  As a result, these characters can be accessed through this ordering.  For strings and other python objects, the indexing starts at 0 and ends a len()-1 and the indices that you would like accessed are always enclosed in **square brackets**.  Let's do some slicing!

In [21]:
s = 'spam'

#Get the first and last character.  Jupyter return a tuple here, this is an object we will learn about later.
s[0],s[len(s)-1]

('s', 'm')

We can even slice chunks of a string by separating the beginning and end indices by a ":".  The end index in non-inclusive.

In [22]:
greeting = "Hello there!"

#Get hello.  By leaving the first entry blank, the slicing defaults to 0.
greeting[0:5], greeting[:5]

('Hello', 'Hello')

You can even add a third index, which indicates how you want to step through the string.  For example, putting a 2 in this third index you will skip over every other character.  If this third index is not supplied, it defaults to 1, as you would expect.

In [26]:
#Get every second letter of entire string
greeting[::2]

'Hlotee'

Recall that string are immutable, so we cannot change them inplace.  Consequently, the following operation results in an error

In [27]:
mispelled_name = "Jaqe"

#I cannot just change the second index
mispelled_name[2] = 'k'

TypeError: 'str' object does not support item assignment

For now, we will have to do this correction via concatenation.  This will be our first example of **polymorphism**; the idea that certain operators act differently depending on the type of objects they act upon. For numbers, the "+" operator performs addition.  For strings, the "+" operation concatenates the string.  Note that the + operator for strings is does not follows the commutative property since order matters.  So we do not have a+b=b+a if a and b are strings.

In [29]:
first_three_letters = "abc"
next_three_letters = "def"

#Concatenate the two strings
first_six_lettters = first_three_letters + next_three_letters

first_six_lettters

'abcdef'

In [1]:
#Combine slicing and concatenation
first_name = "Charlie"
middle_name = "Dilly"
last_name = "Bear"

#Get the initials
initials = first_name[0] + middle_name[0] +  last_name[0]

initials

'CDB'

The "*" operation also acts as expected on strings.

In [31]:
#"*" operator on string 
first_name*2

'JakeJake'

What happens when we try to use the "+" operator between a string and an int?

In [32]:
str_num = "6"
num = 5

#adding string and int
str_num +num

TypeError: must be str, not int

We get an error! We either need to convert the string to an int or vice versa.

In [35]:
#Doing the approproate type conversions for the operation to work.
str(num) + str_num, num + int(str_num)

('56', 11)

In [36]:
#So at this point, we have to do the following to get a row of data in a csv file
height = 59
age = 30
weight =100

row  = str(height) + "," + str(age) + "," + str(weight) + "\n"

print(row)

59,30,100

## Lists (mutable)

Lists are Python's most flexible ordered collection object type.  Unlike strings, lists may be changed in-place.  Python lists are:

*Ordered collection of arbitrary objects*: lists are just places to collect other objects.  Lists also maintain a left-to-right positional ordering among the items they contain.

*Accessed by offset*: Just as with strings, you can fetch component objects out of a list by indexing the list on the object's offset.  You can also do tasks such as slicing and concatenation.

*Variable length, heterogeneous, and arbitrarily nestable*: Unlike strings, lists can grow and shrink in-place, and they can contain any sort of object, not just one character strings.  They also support arbitrary nesting: one can have lists of lists of lists...

A list is coded as a series of objects in square brackets, separated by commas.

In [77]:
#Creating a list
L= [1,2,'s',4]
L

[1, 2, 's', 4]

In [78]:
#Find the length of a list 
len(L)

4

In [5]:
#Nested list
L=[[1,2,3], ['a','b','c']]

L
len(L)

[[1, 2, 3], ['a', 'b', 'c']]

2

We can check if an item is in a given list using **in**. The result is a boolean and just like strings, there is also a **not in**.

In [4]:
list_vowels = ['a','e','i', 'o', 'u']

'k' in list_vowels

'a' in list_vowels

False

True

### Indexing and Slicing

Indexing and slicing works the same for lists and strings.

In [4]:
L= ['spam', 'Spam', "SPAM"]
L[2]
L[1:]
L[2][0]

'SPAM'

['Spam', 'SPAM']

'S'

What about when I have lists of lists?

In [3]:
L=[[1,2,3],[4,5,6]]
L[0]
L[1][1]

[1, 2, 3]

5

### Changing Lists In-Place

Because lists are mutable, they support operations that change a list in-place.  That is, the operations in this section all modify the list object directly.

When using a list, you can change its contents by assigning to either a particular item or an entire section

In [72]:
#Changing an element using slicing
L= ['spam', 'Spam', "SPAM"]
L[1] = 'eggs'
L

['spam', 'eggs', 'SPAM']

In [73]:
#Change a section
L[:2] = ['eat', 'more']
L

['eat', 'more', 'SPAM']

In [74]:
#Lengths don't have to match
L[:2] = ['eat', 'more', 'delicious']
L

['eat', 'more', 'delicious', 'SPAM']

You can use the del statement to delete an item or section in place

In [1]:
#Deleting element by index
L =[1,2,3]
del L[0]
L

[2, 3]

### Basic Operations

Lists support many of the same operations as strings.  For example, lists respond to the + and * operators much like string

In [84]:
#List concatenation
L = [1,2,3]
newL = L + [4,5,6]
newL

[1, 2, 3, 4, 5, 6]

In [85]:
#List repetition
newL*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

Again, the + operator only works when the objects on either side are the same type.  You cannot concatenate a string and list unless you first convert the string to a list

In [86]:
L = [1,2,3]
L+list('56')

[1, 2, 3, '5', '6']

Note that 5 and 6 appear in the list as strings.  If I want them as numbers I can do the following

In [87]:
#Unfortunately this doesn't word
L + int(list('56'))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [88]:
#We need something called list comprehension (more on this tomorrow)
L + [int(i) for i in list('56')]

[1, 2, 3, 5, 6]

The **sorted** function returns a sorted list

In [12]:
#Sorting a list
unsorted_list = [3,2,54,1,6,34]
#settting reverse to True gives the list sorted in descending order
sorted_list = sorted(unsorted_list, reverse = False)
sorted_list

#Note that unsorted_list is unchanged
unsorted_list

[1, 2, 3, 6, 34, 54]

[3, 2, 54, 1, 6, 34]

You might wonder if we can sort the list inplace. We can do exactly this using list methods, which we will learn in a later lecture.

In [13]:
#sorting a list inplace using the sort method
unsorted_list = [3,2,54,1,6,34]
unsorted_list.sort()

#Note that here unsorted_list is changed
unsorted_list

[1, 2, 3, 6, 34, 54]