# Lab 1.

## 1.1 Objects

In [2]:
# Our first Object stored in a variable called "X"
x = 5
x

5

In [22]:
# Types of Python Objects
# 1. Number, 2. Strings, 3. Lists

In [7]:
# Every Python obejct is stored in a variable.
x = 5
y = 6.6

In [3]:
# Addition
x + y

11.6

In [4]:
# Substraction
y - x

1.5999999999999996

In [5]:
# Multiplication
x * y

33.0

In [6]:
# Exponentiating
x ** 2

25

In [15]:
# Using Variables
num_quarters = 7
num_nickels = 10
num_dimes = 5

total_change = num_quarters * .25 +\
                num_nickels * 0.05 +\
                num_dimes * 0.1

total_change

2.75

In [16]:
# You will often find yourself updating bariables:
count = 0

# When some other code executes, we want to add 1 to count
count = count + 1

# More concise
count += 1

## 1.2 Booleans

In [ ]:
# Booleans are TRUE or FALSE

# True = 1, False = 0

In [17]:
boolean_var = True
boolean_var

True

In [18]:
boolean_var * 5

5

In [20]:
# Conditional Tests
x = 5 # = is assignment
x == 5 # == is asking if the variable is equal to 5

True

In [21]:
x <= 4

False

## 1.3 Strings

In [23]:
# Strings rae collections of characters used to represent text

# "String" or 'String'
name = 'Charlie'
name

'Charlie'

In [24]:
name = "Charlie"
name

'Charlie'

In [ ]:
# Indexing Strings
name = 'Charlie' # index starts from 0 (= C)

In [25]:
name[0]

'C'

In [26]:
name[6]

'e'

In [27]:
name[0:4] # 4th letter is not included

'Char'

In [29]:
name[:2]

'Ch'

In [30]:
name[2:]

'arlie'

In [31]:
sentence = 'Charlie likes walks.'
sentence[7]

' '

In [32]:
len(sentence) # letters, spaces, and punctuations all count

20

In [34]:
# String Concatenation (Polymorphism) "+"
first = "Jake"
middle = "Belinoff"
last = "Feldman"

full_name = first + middle + last
full_name

'JakeBelinoffFeldman'

In [35]:
full_name = first + " " + middle + " "+ last
full_name

'Jake Belinoff Feldman'

In [36]:
initials = first[0] + middle[0] + last[0]
initials

'JBF'

In [38]:
# Using in
name = "Charlie"

In [39]:
"C" in name

True

In [40]:
"arl" in name

True

In [41]:
"c" not in name

True

## 1.4 Lists

In [ ]:
# Ordered collection of arbitary obejcts
## There is a left and right ordering (just like strings)
## Can Contain numbers, strings, or even other lists

# Elements in the list are accessed by their offset

# Variable in length and arbitrarily nestable

In [42]:
# List of numbers
nums = [1, 2, 3, 5]
nums

[1, 2, 3, 5]

In [43]:
# List of strings
names = ["Jake", "Joe"]
names

['Jake', 'Joe']

In [44]:
# List of Both
L = ['a', 'b', 1, 2]
L

['a', 'b', 1, 2]

In [47]:
# Indexing Lists
nums = [1, 2, 3, 5]

In [48]:
nums[0]

1

In [49]:
nums[3]

5

In [50]:
nums[1:3]

[2, 3]

In [51]:
nums[:2]

[1, 2]

In [53]:
# number of elements in a list
len(nums)

4

In [54]:
# Nested Lists
nested_L = [[1, 2, 3], ['a', 'b', 'c']]

In [55]:
nested_L[0]

[1, 2, 3]

In [56]:
nested_L[1]

['a', 'b', 'c']

In [57]:
nested_L[0][1]

2

In [58]:
# Polymorphism with Lists

In [59]:
# Set lockers
lockers = [0]
lockers

[0]

In [60]:
# Concatenation
lockers + [0]

[0, 0]

In [61]:
# Using the *
lockers * 5

[0, 0, 0, 0, 0]

In [ ]:
# Using in with Lists

In [62]:
# Create list
L = [1, 2, 'a', 'b']
L

[1, 2, 'a', 'b']

In [63]:
# in with lists
3 in L

False

In [64]:
# not in with lists
'c' not in L

True

In [ ]:
# Sotring Lists

In [65]:
# Build list
L = [3, 4, 2, 1, 5]

In [66]:
# Sort list
sorted(L)

[1, 2, 3, 4, 5]

In [68]:
# keyword reverse
sorted(L, reverse = True)

[5, 4, 3, 2, 1]

## 1.5 DataTypes

In [69]:
# Checking the type

In [70]:
# Create a number 
x= 5

# Check the type
type(x)

int

In [71]:
y = 5.5
type(y)

float

In [72]:
s = "5"
type(s)

str

In [73]:
# Concatenation???
y + s

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [74]:
# Converting Types
y = 5.5
type(y)

float

In [75]:
# Convert float to integer
int_y = int(y)
int_y

5

In [76]:
# Check type
type(int_y)

int

In [78]:
# Convert to string
str_y = str(y)
str_y

'5.5'

In [79]:
type(str_y)

str

In [80]:
# Convert to float
float_s = float(s)
float_s

5.0

In [81]:
type(float_s)

float

In [83]:
# Why the type matters

In [82]:
y = 5.5
s = "5.5"

In [84]:
# Correct concatenation
y + float(s)

11.0

In [ ]:
# Or...

In [85]:
s + str(y)

'5.55.5'

In [ ]:
# Mutable vs. Immutable
# - Numbers = Immutable
# - String = Immutable
# - Lists = Mutable

In [86]:
# Create a string
name = "jake"
name

'jake'

In [87]:
# How I access the first letter
name[0]

'j'

In [88]:
# Intuitively...
name[0] = "J"

TypeError: 'str' object does not support item assignment

In [90]:
# Have to create new string obejct
new_name = "J" + name[1:]
new_name

'Jake'

In [91]:
# Create a list
L = ['j', 'a', 'k', 'e']
L

['j', 'a', 'k', 'e']

In [92]:
L[0] = 'J'
L

['J', 'a', 'k', 'e']